<div>
  <div class="row">
    <div class="slider fullscreen">
        <ul class="slides">
          <li>
            <img src="/assets/slider_img/sld_1.jpg" alt="Slide 1">
            <div class="caption center-align bg-light">
              <h3>Welcome</h3>
              <h5 class="light grey-text text-lighten-3">TO ADMISSION PORTAL OF</h5>
              <h3>JAYPEE UNIVERSITIES</h3>
            </div>
          </li>
          <li>
            <img src="/assets/slider_img/sld_2.jpg" alt="Slide 2">
            <div class="caption center-align bg-light">
              <h3>Customizable Solutions</h3>
              <h5 class="light grey-text text-lighten-3">Tailored for your needs.</h5>
            </div>
          </li>
          <li>
            <img src="/assets/slider_img/sld_3.jpg" alt="Slide 3">
            <div class="caption center-align bg-light">
              <h3>Future-Ready Technology</h3>
              <h5 class="light grey-text text-lighten-3">Empower your business.</h5>
            </div>
          </li>
        </ul>
        <a class="fa fa-arrow-down fa-2x" href="#mainLinks"></a>
      </div>
      </div>
      <div class="container banner">
        <div class="row" style="margin-top: 480px;">
          <!-- Sidebar -->
          <div class="col s12 m4 l3">
            <!-- <ul class="collection with-header">
              <li class="collection-header teal darken-5 white-text center-align">
                <h5>PROGRAM SELECTION</h5>
              </li>
              <li class="collection-item teal lighten-5">
                <a href="">
                  <p class="menu-title">DIPLOMA</p>
                </a>
              </li>
              <li class="collection-item teal lighten-5">
                <a href="">
                  <span class="menu-title">UNDERGRADUATE</span>
                  <p>(BTECH / BBA / BSC / BCA / BA / BCOM)</p>
                </a>
                
              </li>
              <li class="collection-item teal lighten-5">
                <a href="">
                  <span class="menu-title">POSTGRADUATE</span>
                  <p>(MBA / MTECH / MSC / MCA)</p>
                </a>
              </li>
              <li class="collection-item teal lighten-5">
                <a href="">
                  <p class="menu-title">DOCTORATE (PHD)</p>
                </a>
              </li>
            </ul> -->
            
            <app-sidebar-menu></app-sidebar-menu>

          </div>
        
          <!-- Main Content Area -->
          <div class="col s12 m8 l9">
            <div class="">
              <h3 class="center-align grey-text">MORE CONVENIENT</h3>
              <p class="center-align grey-text">Way to apply. It's a promise.</p>
        
              <div class="row center-align">
                <div class="col s4">
                  <h4 class="green-text">STEP</h4>
                  <h1 class="green-text">1</h1>
                  <p class="green-text">PROG. SELECTION</p>
                </div>
                <div class="col s4">
                  <h4 class="grey-text">STEP</h4>
                  <h1 class="grey-text">2</h1>
                  <p class="grey-text">FILL THE FORM</p>
                </div>
                <div class="col s4">
                  <h4 class="lime-text">STEP</h4>
                  <h1 class="lime-text">3</h1>
                  <p class="lime-text">VERIFY AND PAY</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>
