<div class="helpdesk-container">
    <div class="container">
      <h4 class="center-align grey-text">University Admissions Helpdesk</h4>
  
      <div class="row">
        <!-- Card 1 -->
        <div class="col s12 m6 l4">
          <div class="card  grey darken-1 white-text">
            <div class="card-content">
              <span class="card-title white-text">JIIT</span>
              <p>📞 0120-2594300 / 400<br />
                📱 Mobile – 7428630800 / 600<br />
                ✉️ admission@jiit.ac.in
              </p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col s12 m6 l4">
          <div class="card grey darken-1 white-text">
            <div class="card-content">
              <span class="card-title white-text">JBS</span>
              <p>📞 0120-2594179 / 173<br />
                📱 Mobile – 9560349700 / 500<br />
                ✉️ jbs@jiit.ac.in
              </p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col s12 m6 l4">
          <div class="card grey darken-1 white-text">
            <div class="card-content">
              <span class="card-title white-text">JUIT WAKNAGHAT</span>
              <p>📞 01792-239360 / 560 / 558<br />
                📱 7807868600 / 500 / 400 / 900<br />
                ✉️ admissions@juitsolan.in
              </p>
            </div>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col s12 m6 l4">
          <div class="card grey darken-1 white-text">
            <div class="card-content">
              <span class="card-title white-text">JUET GUNA</span>
              <p>📞 Toll Free No. 1800 121 884444<br />
                ✉️ admission@juet.ac.in
              </p>
            </div>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="col s12 m6 l4">
          <div class="card grey darken-1 white-text">
            <div class="card-content">
              <span class="card-title white-text">JU ANOOPSHAHAR</span>
              <p>📞 (+91) 7055922777, 7055922888<br />
                ✉️ admission@mail.jaypeeu.ac.in
              </p>
            </div>
          </div>
        </div>
        <!-- Card 6 -->
        <div class="col s12 m6 l4">
          <div class="card grey darken-1 white-text">
            <div class="card-content">
              <span class="card-title white-text">
                FOR ANY QUERIES/DIFFICULTY WHILE FILLING UP THE FORM
              </span>
              <p>✉️ jaypee@getadmissions.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer -->
    <footer class="page-footer teal darken-3">
      <div class="footer-copyright">
        <div class="container center-align">
          © 2024 getadmissions
          <a href="#" class="white-text right">FAQ</a>
          <a href="#" class="white-text right">Benefits</a>
          <a href="#" class="white-text right">Terms & Conditions</a>
          <a href="#" class="white-text right">Privacy Policy</a>
          <a href="#" class="white-text right">Contact Us</a>
        </div>
      </div>
    </footer>
  </div>
  
