
    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-content">
                  <div class="img-custom">
                    <img src="/assets/logo3.png" alt="jiit-image" class="responsive-img" height="120" width="110">
                    <img src="/assets/logo4.png" alt="jbs-image" class="responsive-img" height="130" width="120">
                  </div>
  
                  <span class="card-title center">JAYPEE BUSINESS SCHOOL</span>
                  <p class="center">A Constituent of</p>
                  <p class="center heading">JAYPEE INSTITUTE OF INFORMATION TECHNOLOGY</p>
                  <p class="center heading-sm">Deemed to be university</p>
                  <div class="custom-box">
                    <p class="center heading">MBA APPLICATION FORM : 2024</p>
                    <p class="center">For academic session starting from January 2025 <br> (Academic Year 24-25)</p>
                    <p class="center">(For Admission Enquiries Contact: 9560349700 / 500 )</p>

                  </div>
                  
                  <p class="center">
                  
                    <b>Admission Enquiries Contact:</b> 9560349700 / 500<br />
                    Email: <a href="mailto:jbs@jiit.ac.in">jbs@jiit.ac.in</a> Website: <a href="https://www.jbs.ac.in" target="_blank">www.jbs.ac.in</a>
                  </p>
                </div>
            </div>
        </div>
    
    
        <div class="col s9">
            
            <!-- ----navbar Start-------->
            
            
            

            <!-- --------navbar End---------- -->
            <!-- <section class="step-wizard"> -->
              <ul class="step-wizard-list">
                  <li class="step-wizard-item">
                      <span class="progress-count">1</span>
                      <span class="progress-label">Contact Info</span>
                  </li>
                  <li class="step-wizard-item current-item">
                      <span class="progress-count">2</span>
                      <span class="progress-label">Qualification</span>
                  </li>
                  <li class="step-wizard-item">
                      <span class="progress-count">3</span>
                      <span class="progress-label">Qualification Exam</span>
                  </li>
                  <li class="step-wizard-item">
                      <span class="progress-count">4</span>
                      <span class="progress-label">Work Experience</span>
                  </li>
                  <li class="step-wizard-item">
                    <span class="progress-count">5</span>
                    <span class="progress-label">Bank Info</span>
                </li>
                <li class="step-wizard-item">
                  <span class="progress-count">6</span>
                  <span class="progress-label">Uploads</span>
              </li>
              </ul>
          <!-- </section> -->
            
            <!-- <ul class="pagination">
                
                <li class="active"><a href="#!">Personal Info</a></li>
                <li class="waves-effect"><a href="#!">Contact Info</a></li>
                <li class="waves-effect"><a href="#!">Qualification</a></li>
                <li class="waves-effect"><a href="#!">Qualification Exam</a></li>
                <li class="waves-effect"><a href="#!">Work Experience</a></li>
                <li class="waves-effect"><a href="#!">Bank Info</a></li>
                <li class="waves-effect"><a href="#!">Uploads</a></li>
                
              </ul> -->
        
                
            <!-- <ul class="tabs">
                <li class="tab col s2 active"><a href="#personal-info">Personal Info</a></li>
                <li class="tab col s2"><a href="#contact-info">Contact Info</a></li>
                <li class="tab col s2"><a href="#qualification">Qualification</a></li>
                <li class="tab col s2"><a href="#qualification-exam">Qualification Exam</a></li>
                <li class="tab col s2"><a href="#work-experience">Work Experience</a></li>
                <li class="tab col s2"><a href="#bank-info">Bank Info</a></li>
                <li class="tab col s2"><a href="#uploads">Uploads</a></li>
              </ul> -->

              <div id="personal-info" class="col s12">
                  <form>
                    <div class="container">

                        <div class="row">
                            <div class="input-field col s4">
                              <input id="first_name" type="text" class="validate" />
                              <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s4">
                              <input id="middle_name" type="text" class="validate" />
                              <label for="middle_name">Middle Name</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="last_name" type="text" class="validate" />
                                <label for="last_name">Last Name</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s4">
                              <input id="dob" type="date" class="validate" />
                              <label for="dob">Date of Birth</label>
                            </div>
                            <div class="input-field col s4">
                              <select>
                                <option value="" disabled selected>Choose your gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                              </select>
                              <label>Gender</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="father" type="text" class="validate" />
                                <label for="father">Father's Name</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s4">
                              <input id="mother" type="text" class="validate" />
                              <label for="mother">Mother's Name</label>
                            </div>
                            <div class="input-field col s4">
                              <select>
                                <option value="" disabled selected>Select Catagory</option>
                                <option value="male">OBC</option>
                                <option value="female">General</option>
                                <option value="other">Other</option>
                              </select>
                              <label>Select Catagory</label>
                            </div>
                            <div class="input-field col s4">
                              <input id="adhaar" type="text" class="validate" />
                              <label for="adhaar">Adhaar</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s4">
                              <select>
                                <option value="" disabled selected>Select Catagory</option>
                                <option value="male">Hindu</option>
                                <option value="female">Muslim</option>
                                <option value="other">Sikh</option>
                                <option value="other">Chiristian</option>
                              </select>
                              <label>Select Religion</label>
                            </div>
                            <div class="input-field col s4">
                              <select>
                                <option value="" disabled selected>Person with disability</option>
                                <option value="male">Yes</option>
                                <option value="female">No</option>
                              </select>
                              <label>Person with disability</label>
                            </div>
                            <div class="input-field col s4">
                              <input id="mobile" type="text" class="validate" />
                              <label for="mobile">Mobile</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s4">
                              <input id="parent_mobile" type="text" class="validate" />
                              <label for="parent_mobile">Parent Mobile</label>
                            </div>
                            <div class="input-field col s4">
                              <input id="email" type="text" class="validate" />
                              <label for="email">Email id</label>
                            </div>
                            <div class="input-field col s4">
                              <input id="parent_email" type="text" class="validate" />
                              <label for="parent_email">Parent Email id</label>
                            </div>
                          </div>
                    
                          <div class="row">
                              <div class="input-field col s4">
                                <label>Parent Income</label>
                                  <select>
                                    <option value="" disabled selected>Choose your income bracket</option>
                                    <option value="below_5_lakhs">Income below INR 5 lakhs</option>
                                    <option value="above_5_lakhs">Income above INR 5 lakhs</option>
                                  </select>
                              </div>
                              <div class="input-field col s4"></div>
                              <div class="input-field col s4">
                                <button class="btn waves-effect waves-light" type="submit">Save and Proceed</button>
                              </div>
                          </div>
                    </div>
                </form>
              </div>
        </div>
    </div>


  